{{define "block"}}
<div class="column is-one-quarter">
  <div class="box">
      <p>
        Block
      </p>
   
        <p>data: {{printf "%-20s" .Data}}</p>
        <p>Prev. Hash: {{.PrevBlockHash | formatShort}}</p>
        <p>Hash: {{.Hash | formatShort}}</p>        
  </div>
</div>
{{end}}