{{define "block"}}
<div class="column is-one-quarter">
  <div class="box">
      <p>
        Block
      </p>
   
        <p>data: {{printf "%-20s" .Data}}</p>
        <p>Prev. Hash: {{printf "%-20x" .PrevBlockHash}}</p>
        <p>Hash: {{printf "%-20x" .Hash}}</p>
  </div>
</div>
{{end}}