{{define "footer"}}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Xblock</strong> by <a target="blank" href="https://people.accenture.com/People/user/camilo.munoz.builes">Camilo Muñoz</a> and <a target="blank" href="https://people.accenture.com/People/user/j.yepes">Julian Yepes</a>.<br>
      </p>
      <p>Based on "Golang Blockchain Bitcoin" available at <a href="https://jeiwan.cc/tags/blockchain/" target="blank">this site.</a></p>
    </div>
  </footer>
{{end}}
