{{define "footer"}}
  <footer style="position: fixed; bottom: 0; right: 0; width: 100%;">
    <div class="content has-text-centered">
      <p>
        <strong>Xblock</strong> by <a target="blank" href="https://people.accenture.com/People/user/camilo.munoz.builes">Camilo Muñoz</a> and <a target="blank" href="https://people.accenture.com/People/user/j.yepes.builes">Julian Yepes</a>.<br>
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
{{end}}
